aiohappyeyeballs==2.6.1
aiohttp==3.12.6
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.14.0
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
ase==3.24.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
babel==2.16.0
backcall==0.2.0
bcrypt==4.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.35.95
botocore==1.35.95
Brotli==1.1.0
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==3.1.1
colorlog==6.9.0
comm==0.2.1
contourpy==1.2.1
cryptography==44.0.0
cycler==0.12.1
Cython==3.1.1
dacite==1.8.1
dask==2024.8.0
dataclasses-json==0.6.7
debugpy==1.8.0
decorator==5.1.1
deepmerge==2.0
defusedxml==0.7.1
distributed==2024.8.0
distro==1.9.0
dnspython==2.7.0
emmet-core==0.60.2
entrypoints==0.4
exceptiongroup==1.2.2
faiss-cpu==1.8.0.post1
fastjsonschema==2.16.1
filelock==3.13.4
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2022.11.0
future==1.0.0
g4f==0.5.3.1
ga4mp==2.0.4
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.71.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
idna==3.7
importlib-metadata==5.2.0
importlib_resources==6.4.0
ipykernel==6.29.2
ipysigma==0.24.5
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.0
json5==0.10.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_ai==2.31.2
jupyter_ai_magics==2.31.2
jupyter_client==7.4.4
jupyter_core==5.7.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab-pygments==0.2.2
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.5
langchain==0.3.25
langchain-community==0.3.7
langchain-core==0.3.63
langchain-openai==0.3.7
langchain-text-splitters==0.3.8
langsmith==0.1.147
latexcodec==3.0.0
locket==1.0.0
lxml==4.9.1
maggma==0.71.1
Mako==1.3.8
MarkupSafe==2.1.1
marshmallow==3.26.1
matlantis-features==0.25.0
matlantis-group-drive-client==0.2.0
matlantis_jupyter_ai @ file:///tmp/work/labextensions/matlantis-jupyter-ai/matlantis_jupyter_ai-0.1.0-py3-none-any.whl#sha256=f861450189d05ba4289fe6dedeb35f10e37090fa4078dc37a1edf23fdc331483
matplotlib==3.8.4
matplotlib-inline==0.1.6
mistune==0.8.4
mock==5.1.0
molmod @ file:///home/conda/feedstock_root/build_artifacts/molmod_1716038802442/work
mongomock==4.3.0
monty==2024.10.21
more-itertools==10.2.0
mp-api==0.33.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.4
mypy_extensions==1.1.0
nbclient==0.6.7
nbconvert==6.5.3
nbformat==5.10.4
nest-asyncio==1.5.5
networkx==3.2.1
nglview==3.1.2
notebook==7.3.1
notebook_shim==0.2.4
numpngw==0.1.4
numpu==0.1.1
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openai==1.82.1
optuna==4.1.0
orjson==3.10.14
overrides==7.7.0
packaging==24.0
palettable==3.3.3
pandas==2.2.2
pandocfilters==1.5.0
paramiko==3.5.0
parso==0.8.3
partd==1.4.2
pexpect==4.8.0
# Editable install with no version control (pfcc-extras==0.10.0)
-e /home/jovyan/pfcc-extras-v0.10.0
pfp-api-client==1.23.0
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
plotly==5.21.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.30
propcache==0.3.1
protobuf==5.29.4
psutil==5.9.1
ptyprocess==0.7.0
pybtex==0.24.0
pycparser==2.21
pycryptodome==3.23.0
pycryptodomex==3.20.0
pydantic==1.10.20
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydash==8.0.4
Pygments==2.13.0
pymatgen==2023.7.17
pymongo==4.10.1
PyNaCl==1.5.0
pyparsing==3.1.2
pyrsistent==0.18.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.2.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rdkit==2024.9.4
rdkit-pypi==2022.9.5
reactionstring==0.5.4
referencing==0.36.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
restscan==0.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.22.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.4
scikit-learn==1.6.0
scipy==1.13.0
seekpath==2.0.1
Send2Trash==1.8.2
sentinels==1.0.0
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spglib==2.5.0
SQLAlchemy==2.0.36
sshtunnel==0.4.0
sympy==1.13.1
tabulate==0.9.0
tblib==3.1.0
tenacity==8.2.3
terminado==0.15.0
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.1.1
tomli==2.2.1
toolz==1.0.0
torch==2.5.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.14.1
triton==3.1.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
uncertainties==3.1.7
uri-template==1.3.0
urllib3==1.26.20
wcwidth==0.2.5
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wrapt==1.17.0
yarl==1.20.0
zict==3.0.0
zipp==3.18.1
